#container-home{
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-x: hidden;
}
.container-home-cima{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.dir{
    padding-left: 10%;
    display: flex;
    flex-direction: row;
}
.esq{
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.esq .btn-default{
    width: 135px;
}
.esq a{
    color: var(--azul-texto);
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding-right: 27px;
}

.container-home-meio{
    width: 100%;
}

.imagem-civa{
    height: 100%;
    width: 100vw;
}
.home-text-div h1{
    letter-spacing: 0.15em;
}
.home-parte-meio h1{
    font-size: 51px;
    font-weight: 300;
    line-height: 76px;
    padding-bottom: 7px;
}
#container-home-content-mid{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.home-parte-cima{
    padding-top: 156px;
    padding-bottom: 37px;
}
.home-parte-baixo{
    padding-bottom: 91px;
}
.home-parte1{
    padding-top: 61px;
}
.home-parte2{
    padding-top: 37px;
}
.home-parte3{
    padding-top: 129px;   
}
.home-parte4{
    padding-top: 37px;    
}
.home-parte5{
    padding-top: 111px;    
}
.home-parte6{
    padding-top: 50px;    
    padding-bottom: 898px;
}
.linha{
    width: 100%;
    border: 1px solid #DFDFDF;
}
footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 21px;
}
.foot-esq{
    padding-left: 10%;
    display: flex;
    align-items: center;
}
.foot-dir{
    padding-right: 10%;
    display: flex;
    align-items: center;
}
.civa{
    font-weight: 500;
    font-size: 14px;
}
.civa-2{
    font-size: 14px;
}
.icon{
    Width: 15.16px;
    Height: 15.16px;
}
.foot-dir a{
    color: var(--azul-texto);
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    padding-left: 75px;
}